<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/shop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pizza_app"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity_thongke"
            android:exported="false" />
        <activity
            android:name=".MainActivity_qldonhang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_tuvan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_qlsanpham"
            android:exported="false" />
        <activity
            android:name=".MainActivity_qly"
            android:exported="false" />
        <activity
            android:name=".MainActivity_nhantin"
            android:exported="false" />
        <activity
            android:name=".MainActivity_settting"
            android:exported="false" />
        <activity
            android:name=".MainActivity_lichsu"
            android:exported="false" />
        <activity
            android:name=".MainActivity_oder"
            android:exported="false" />
        <activity
            android:name=".MainActivity_giohang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_chitiet"
            android:exported="false" />
        <activity
            android:name=".MainActivity_chinh"
            android:exported="false" />
        <activity
            android:name=".MainActivity_quenmk"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity_dangky"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>